@charset "UTF-8";
:root {
  --main-color: #1E2E36;
  --second-text-color: #FFFFFF;
  --bg-text: #FF1B1B;
  --bg: #E5E5E5;
  --bg-white: #FFFFFF;
  --accent-color: #44C697;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1920px;
}

body {
  color: var(--main-color);
  background-color: var(--second-text-color);
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
}

/*глобальные элементы*/
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.section__title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}

.section__title .title__line {
  position: relative;
}

.section__title .title__line span {
  position: relative;
  z-index: 2;
}

.section__title .title__line::before {
  position: absolute;
  top: 0;
  left: -5px;
  bottom: 0;
  content: '';
  width: 20px;
  background-color: var(--accent-color);
  z-index: 1;
}

.btn {
  display: block;
  padding: 14px 46px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--second-text-color);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.btn-menu {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 24px;
  height: 24px;
}

.btn-dropdown {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
}

.form__btn {
  width: 100%;
}

@media screen and (min-width: 1920px) {
  .form__btn {
    padding: 14px 158px;
  }
}

.header__nav {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(30, 46, 54, 0.6);
}

@media screen and (min-width: 1920px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav__wrap {
    display: flex;
    justify-content: space-between;
  }
}

.nav__socnetworks {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.socnetworks__title {
  font-weight: 700;
  color: var(--main-color);
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .socnetworks__title {
    display: none;
  }
}

.socnetworks__title--inverse {
  font-weight: 400;
  color: var(--second-text-color);
  margin-bottom: 5px;
  margin-right: 0px;
}

.socnetworks__list {
  display: flex;
}

.socnetworks__item:not(:last-child) {
  margin-right: 5px;
}

.socnetworks__item:hover .socnetworks__icon, .socnetworks__item:focus .socnetworks__icon {
  fill: var(--accent-color);
  transition: var(--duration) var(--timing-function);
}

.socnetworks__icon {
  fill: var(--main-color);
}

.socnetworks__icon--inverse {
  fill: var(--second-text-color);
}

.nav__tel {
  display: flex;
  align-items: center;
}

.tel__link {
  color: var(--main-color);
  font-weight: 700;
  margin-left: 5px;
  margin-right: 5px;
}

.nav__navigation {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav__navigation {
    display: none;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 15px;
}

.navigation__link {
  color: var(--main-color);
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}

.navigation__link.current {
  border-bottom-color: var(--accent-color);
}

.header__menu {
  padding: 20px 20px;
}

@media screen and (min-width: 768px) and (max-width: 1919px) {
  .header__menu {
    display: flex;
    flex-direction: column-reverse;
    padding: 15px 20px;
  }
}

@media screen and (min-width: 1920px) {
  .header__menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 15px 50px;
  }
}

.menu__list {
  display: flex;
  margin-right: 115px;
}

@media screen and (max-width: 767px) {
  .menu__list {
    display: none;
  }
}

@media screen and (max-width: 1919px) {
  .menu__list {
    margin-top: 20px;
  }
}

.menu__item:not(:last-child) {
  margin-right: 15px;
}

.menu__title {
  font-weight: 700;
  text-transform: uppercase;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  fill: var(--main-color);
  margin-right: 15px;
}

.logo__icon--inverse {
  fill: var(--second-text-color);
}

.logo__text {
  font-weight: 700;
  font-size: 30px;
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .logo__text {
    font-size: 36px;
  }
}

.logo__text--inverse {
  color: var(--second-text-color);
}

.logo__accent {
  color: var(--accent-color);
}

.menu__shopping-cart {
  display: none;
}

@media screen and (min-width: 1920px) {
  .menu__shopping-cart {
    display: flex;
    align-items: center;
    margin-left: 319px;
    margin-right: 30px;
  }
}

.shopping-cart__title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-color);
  margin-left: 5px;
}

@media screen and (min-width: 1920px) {
  .section__hero {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .hero__img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero__img {
    object-fit: cover;
    min-width: 768px;
  }
}

@media screen and (min-width: 1920px) {
  .hero__img {
    min-width: 1920px;
  }
}

.hero__description {
  background-color: var(--second-text-color);
  border-left: 15px solid var(--accent-color);
  border-radius: 3px 0px 0px 3px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

@media screen and (min-width: 1920px) {
  .hero__description {
    position: absolute;
    top: 0;
    left: 51px;
    width: 462px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.hero__accent {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 50px;
}

.hero__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 10px;
}

.hero__text {
  font-size: 36px;
  margin-bottom: 30px;
}

.hero__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.slider__number {
  display: flex;
  align-items: baseline;
}

.slider__current {
  font-weight: 700;
  font-size: 36px;
}

.slider__all {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.slider__button {
  margin-top: 10px;
}

.slider__button .icon-left {
  margin-right: 8px;
}

.section__benefits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.benefits__list {
  display: flex;
  overflow: auto;
}

.benefits__item {
  position: relative;
  min-width: 100%;
}

@media screen and (min-width: 1920px) {
  .benefits__item:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits__item:hover .benefits__text {
  display: block;
  transform: translateY(0);
}

.benefits__img {
  min-width: 320px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .benefits__img {
    min-width: 369px;
  }
}

@media screen and (min-width: 1920px) {
  .benefits__img {
    min-width: 586px;
  }
}

.benefits__description {
  position: absolute;
  bottom: 33px;
  left: 30px;
  overflow: hidden;
}

.benefits__title {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  color: var(--second-text-color);
}

.benefits__title::after {
  content: '';
  display: block;
  width: auto;
  height: 3px;
  background-color: var(--accent-color);
  margin-top: 5px;
}

.benefits__text {
  transform: translateY(100%);
  margin-top: 18px;
  color: var(--second-text-color);
  transition: var(--duration) var(--timing-function);
}

.section__category {
  margin-bottom: 100px;
}

@media screen and (max-width: 1919px) {
  .list-icon__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.category__list-icon {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-top: -20px;
}

@media screen and (max-width: 767px) {
  .category__list-icon {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1919px) {
  .category__list-icon {
    max-width: 768px;
  }
}

@media screen and (min-width: 1920px) {
  .category__list-icon {
    flex-wrap: nowrap;
    margin-left: 0;
    margin-top: 0;
    justify-content: space-evenly;
  }
}

.list-icon__item {
  flex-basis: calc((100% / 2) - 20px);
  margin-left: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .list-icon__item {
    flex-basis: calc((100% / 3) - 20px);
  }
}

@media screen and (min-width: 1920px) {
  .list-icon__item {
    flex-basis: auto;
    margin-left: 0;
    margin-top: 0;
  }
}

.list-icon__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-icon__link:hover .list-icon__icon, .list-icon__link:focus .list-icon__icon {
  fill: var(--accent-color);
}

.list-icon__link:hover .item__description::after, .list-icon__link:focus .item__description::after {
  background-color: var(--accent-color);
}

.list-icon__icon {
  fill: var(--main-color);
}

.item__description {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--main-color);
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .item__description {
    font-size: 24px;
  }
}

.item__description::after {
  content: '';
  display: block;
  width: auto;
  height: 3px;
  background-color: transparent;
  margin-top: 8px;
}

.category__cards {
  display: grid;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .category__cards {
    grid-row-gap: 50px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 369px);
  }
}

@media screen and (min-width: 1920px) {
  .category__cards {
    grid-template-columns: repeat(3, 586px);
    margin-top: 87px;
  }
}

.cards__item-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.cards__title {
  font-weight: 700;
  color: var(--main-color);
  text-transform: uppercase;
}

@media screen and (min-width: 1920px) {
  .cards__title {
    font-size: 24px;
  }
}

.cards__price {
  font-weight: 700;
  color: var(--main-color);
  text-transform: uppercase;
}

@media screen and (min-width: 1920px) {
  .cards__price {
    font-size: 24px;
  }
}

.new {
  color: #FF1B1B;
}

.cards__price-old {
  font-weight: 700;
  font-size: 12px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #BCBDBB;
}

@media screen and (min-width: 1920px) {
  .cards__price-old {
    font-size: 18px;
    margin-left: 10px;
  }
}

.cards__img {
  width: 320px;
  height: 300px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .cards__img {
    width: 369px;
  }
}

@media screen and (min-width: 1920px) {
  .cards__img {
    width: 586px;
  }
}

.cards__item {
  position: relative;
}

.cards__ad {
  position: absolute;
  top: 10px;
  left: 0;
  font-weight: 700;
  font-size: 18px;
  color: var(--second-text-color);
  text-transform: uppercase;
  padding: 5px 15px;
  background-color: var(--main-color);
}

.action {
  background-color: var(--bg-text);
  top: 48px;
}

.cards__item {
  transition: transform var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
}

.cards__item:hover, .cards__item:focus {
  transform: translateY(-25px);
  transition: transform var(--duration) var(--timing-function);
}

.cards__item:hover .cards__item-description, .cards__item:focus .cards__item-description {
  background-color: var(--accent-color);
  transition: background-color var(--duration) var(--timing-function);
}

.cards__item:hover .cards__title,
.cards__item:hover .cards__price,
.cards__item:hover .cards__price.new,
.cards__item:hover .cards__price-old, .cards__item:focus .cards__title,
.cards__item:focus .cards__price,
.cards__item:focus .cards__price.new,
.cards__item:focus .cards__price-old {
  color: var(--second-text-color);
  transition: color var(--duration) var(--timing-function);
}

.section__about-us {
  margin-bottom: 100px;
}

@media screen and (min-width: 1920px) {
  .about-us__wrap {
    position: relative;
  }
}

.about-us__img {
  min-width: 320px;
}

@media screen and (min-width: 768px) {
  .about-us__img {
    min-width: 768px;
  }
}

@media screen and (min-width: 1920px) {
  .about-us__img {
    width: 1407px;
    margin-left: auto;
  }
}

.about-us__description {
  background-color: var(--second-text-color);
  border-right: 15px solid var(--accent-color);
  border-radius: 0px 3px 3px 0px;
  padding: 30px 20px;
}

@media screen and (min-width: 1920px) {
  .about-us__description {
    position: absolute;
    top: 100px;
    width: 791px;
    padding: 50px 30px 50px 50px;
  }
}

.description__accent {
  color: var(--accent-color);
  text-transform: uppercase;
}

.description__text {
  margin-top: 15px;
  margin-bottom: 15px;
}

.section__question {
  margin-bottom: 100px;
}

@media screen and (min-width: 1920px) {
  .question__wrap {
    position: relative;
  }
}

.question__img {
  min-width: 320px;
}

@media screen and (min-width: 768px) {
  .question__img {
    min-width: 768px;
  }
}

@media screen and (min-width: 1920px) {
  .question__img {
    width: 1561px;
    margin-right: auto;
  }
}

.form__wrap {
  background-color: var(--second-text-color);
  border-left: 15px solid var(--accent-color);
  border-radius: 3px 0px 0px 3px;
  padding: 30px 20px;
}

@media screen and (min-width: 1920px) {
  .form__wrap {
    position: absolute;
    top: 100px;
    right: 0;
    width: 528px;
    padding: 50px 50px 50px 30px;
  }
}

.form__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 30px;
}

.form__input {
  width: 100%;
  padding: 14px 15px;
  margin-bottom: 15px;
  border: 1px solid var(--main-color);
  border-radius: 3px;
  color: var(--main-color);
}

.form__input, .form__input:active {
  background-color: var(--second-text-color);
}

.form__input::placeholder {
  color: rgba(30, 46, 54, 0.6);
}

.form__description {
  margin-top: 30px;
}

.form__description-accent {
  font-weight: 700;
}

@media screen and (min-width: 1920px) {
  .footer {
    display: flex;
  }
}

.footer__description {
  min-width: 320px;
  background-color: var(--main-color);
  padding: 20px 20px 15px 20px;
}

@media screen and (min-width: 768px) {
  .footer__description {
    min-width: 768px;
  }
}

@media screen and (min-width: 1920px) {
  .footer__description {
    width: 831px;
    padding: 50px 50px 15px 50px;
  }
}

.footer__grid {
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .footer__grid {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.footer__grid-part {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer__grid-part {
    margin-right: 87px;
  }
}

@media screen and (min-width: 768px) {
  .footer__list-one {
    margin-right: 55px;
  }
}

.footer__list-item {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: var(--second-text-color);
  text-transform: uppercase;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__list-item::before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: var(--accent-color);
  margin-right: 6px;
}

@media screen and (min-width: 768px) {
  .footer__list-item {
    font-size: 18px;
  }
}

.footer__grid-data {
  margin-bottom: 84px;
}

@media screen and (max-width: 767px) {
  .footer__grid-data {
    margin-top: 40px;
  }
}

.adress__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.adress__link {
  display: flex;
  align-items: flex-start;
}

.adress__item-icon {
  fill: var(--second-text-color);
  margin-right: 5px;
}

.adress__item-text {
  color: var(--second-text-color);
}

.wrap-tel {
  display: flex;
  flex-direction: column;
}

.adress__item-link {
  color: var(--accent-color);
}

.grid-data__socnetworks {
  margin-top: 30px;
}

.footer__copyright {
  font-size: 14px;
  color: var(--second-text-color);
}

.footer__development {
  display: flex;
  align-items: center;
}

.development__name {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 1.155;
  color: var(--second-text-color);
  text-transform: uppercase;
  margin-left: 3px;
}

@media screen and (max-width: 1919px) {
  .footer__img {
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .footer__img {
    width: 1089px;
  }
}
/*# sourceMappingURL=main.css.map */