.section__benefits {
    margin-top: 100px;
    margin-bottom: 100px;
}

.benefits__list {
    display: flex;
    overflow: auto;
    // justify-content: center;
}

.benefits__item {
    position: relative;
    min-width: 100%;

    &:not(:last-child) {
        @media screen and (min-width: 1920px) {
           margin-right: 30px;
        }
    }

    &:hover {
        .benefits__text {
            display: block;
            transform: translateY(0);
        }
    }
}

.benefits__img {
    min-width: 320px;
    object-fit: cover;

    @media screen and (min-width: 768px) {
        min-width: 369px;
    }

    @media screen and (min-width: 1920px) {
        min-width: 586px;
    }
}



.benefits__description {
    position: absolute;
    bottom: 33px;
    left: 30px;
    overflow: hidden;
}

.benefits__title {
    display: inline-block;
    font-weight: 700;
    font-size: 36px;
    color: var(--second-text-color);

    &::after {
        content: '';
        display: block;
        width: auto;
        height: 3px;
        background-color: var(--accent-color);
        margin-top: 5px;
    }
}

.benefits__text {
    // display: none;
    transform: translateY(100%);
    margin-top: 18px;
    color: var(--second-text-color);
    transition: var(--duration) var(--timing-function);
}