.section__benefits {
    margin-top: 100px;
    margin-bottom: 100px;
}

.benefits__list {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;

    @media screen and (min-width: 768px) {
        margin: 0 20px;
    }

    @media screen and (min-width: 1920px) {
        margin: 0 50px;
    }
}

.benefits__item {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    min-width: 100%;

    @media screen and (min-width: 768px) {
        min-width: calc(100% / 2 - 10px);

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    @media screen and (min-width: 1920px) {
        min-width: calc(100% / 3 - 30px);

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.benefits__link {
    position: relative;
    display: block;

    &:hover {
        .meta__descr {
            position: relative;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.benefits__img {
    width: 320px;
    object-fit: cover;

    @media screen and (min-width: 768px) {
        width: 369px;
    }

    @media screen and (min-width: 1920px) {
        width: 586px;
    }

}

.benefits__meta {
    position: absolute;
    bottom: 0;
    padding: 30px;
    color: var(--second-text-color);
}

.meta__title {
    display: inline-flex;
    border-bottom: 3px solid var(--accent-color);
    font-weight: 700;
    font-size: 24px;

    @media screen and (min-width: 1920px) {
        font-size: 36px;
    }
}

.meta__descr {
    position: absolute;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(100%);
    transition: var(--duration) var(--timing-function);
}

.benefits__wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1920px) {
        max-width: 1920px;
    }

    position: relative;
}

.benefits__chevron-left {
    position: absolute;
    top: 50%;
    left: 0px;
    @media screen and (min-width: 768px) {
        left: 30px;
    }
    @media screen and (min-width: 1920px) {
        left: 60px;
    }
}

.benefits__chevron-right {
    position: absolute;
    top: 50%;
    right: 0px;
    @media screen and (min-width: 768px) {
        right: 40px;
    }

    @media screen and (min-width: 1920px) {
        right: 60px;
    }
}