body {
    color: var(--main-color);
    background-color: var(--second-text-color);
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25;
}

/*глобальные элементы*/
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header,
main,
footer {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}